<section class="OneColumnText Transition--hidden">
    <div class="OneColumnText__wrapper">
        <div class="OneColumnText__content TextBlock">{{ blockData.oneColumnText }}</div>
    </div>
</section>
