<div class="RaceLines" aria-hidden="true">
    <div class="RaceLines__inner">
        <div class="RaceLines__line RaceLines__1"></div>
        <div class="RaceLines__line RaceLines__2"></div>
        <div class="RaceLines__line RaceLines__3"></div>
        <div class="RaceLines__line RaceLines__4"></div>
        <div class="RaceLines__line RaceLines__5"></div>
    </div>
</div>
