{% extends "base.twig" %}

{% block content %}
    <main class="Home">
        {% include 'components/hero.twig' %}

        {% for pageBuilderBlock in pageBuilderBlocks %}
            {% include "components/#{pageBuilderBlock.blockType}.twig" with
                {
                    blockData : pageBuilderBlock,
                }
            %}
        {% endfor %}
    </main>
{% endblock %}
