{% extends "base.twig" %}

{% block content %}
    <main class="PageBuilder">
        {% include 'components/page-hero.twig' %}
        {% include 'components/our-dogs.twig' %}
    </main>
{% endblock %}
