.LiveResultsPagination {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  @include breakpointMaxWidth($lg) {
    margin-top: 55px;
    padding: 0 16px;
    flex-flow: column;
  }

  &__pages {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;

    @include futuraDemi(20px);

    @include breakpointMaxWidth($lg) {
      margin-bottom: 32px;
    }
  }

  &__page {
    min-width: 44px;
    height: 44px;
    border: solid 1px #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    color: $darkgrey;
    cursor: pointer;
    margin: 0 4px 8px;

    &--prev,
    &--next {
      .Icon {
        color: #8a8a8a;
        width: 16px;
        height: 11px;
      }
    }

    &--prev {
      .Icon {
        transform: rotate(90deg);
      }
    }

    &--next {
      .Icon {
        transform: rotate(-90deg);
      }
    }

    &--active {
      color: $white;
      border-color: $brand-color;
      background: $brand-color;
    }

    @include futuraBook(20px);
  }

  &__pageSizes {
    color: $darkgrey;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @include futuraBook(17px);

    @include breakpointMaxWidth($lg) {
      font-size: 20px;
    }
  }

  &__pageSize {
    width: 55px;
    height: 44px;
    border-top: solid 1px #d4d4d4;
    border-left: solid 1px #d4d4d4;
    border-bottom: solid 1px #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    color: $darkgrey;
    cursor: pointer;

    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      border-right: solid 1px #d4d4d4;
    }

    &--active {
      color: $white;
      border-color: $brand-color;
      background: $brand-color;

      &:last-child {
        border-color: $brand-color;
      }
    }

    @include futuraBook(20px);
  }

  &__ellipsis {
    color: $brand-color;
    margin: 0 15px;
    align-self: flex-end;
    cursor: pointer;
  }

  &__count {
    color: $darkgrey;
    width: 100%;
    text-align: right;
    margin-top: 30px;

    @include futuraBook(15px);

    @include breakpointMaxWidth($lg) {
      font-size: 20px;
      text-align: center;
    }
  }
}
