{% extends "base.twig" %}

{% block content %}
    <main class="PageBuilder">
        <div class="Hero Hero--page">
            <div class="Hero__image">
                <div class="Hero__overlay" aria-hidden="true"></div>
                <div class="Hero__gradient" aria-hidden="true"></div>
                <img src="{{ TimberImage(post.myKennelHeroImage).src('hero') }}" srcset="{{ TimberImage(post.myKennelHeroImage).src('heroRetina') }} 2x" alt="" />
            </div>
        </div>
        <section class="MyKennel MyKennel--{{ myKennel.endpoint }}">
            {% include "my-kennel/#{myKennel.endpoint}.twig" %}
        </section>
    </main>
{% endblock %}
