.AnimatedSelect {
  position: relative;
  display: flex;
  align-items: center;

  &__before {
    margin-right: 10px;
  }

  &__input {
    display: flex;
    flex-direction: row;

    .Icon {
      top: 19px;
      right: 12px;
      width: 8px;
      height: 4px;
      color: transparentize($grey, 0.3);
      pointer-events: none;
      position: absolute;
    }
  }

  select {
    cursor: pointer;
    border: none;
    position: absolute;
    transition: all 0.3s ease-in-out;
    background: transparent;
    color: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px 17px;

    &::placeholder {
      visibility: hidden;
    }

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    display: inline-block;
    position: absolute;
    z-index: 1;
    bottom: 13px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    transition: font-size 0.1s ease-in-out;

    &--alwaysUp {
      font-size: 12px;
      top: -7px;
      color: $brand-color;
      padding: 0 7px;
      background: $white;
      height: 12px;
      margin-left: -7px;
    }
  }

  &--hasText {
    border-color: $brand-color;

    .AnimatedSelect__placeholder {
      font-size: 12px;
      top: -7px;
      color: $brand-color;
      padding: 0 7px;
      background: $white;
      height: 12px;
      margin-left: -7px;
    }
  }
}
