.Publications {
  background: $white;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 30px;

  @include breakpoint($md) {
    padding: 90px 130px;
    margin: 0 15px;
  }

  @include breakpoint($lg) {
    max-width: 1063px;
    margin: 0 auto;
  }

  &__title {
    color: $darkgrey;
    margin-bottom: 25px;

    @include futuraMedium(25px);
  }

  &__accordions {
    margin-bottom: 70px;
  }

  &__button {
    color: $darkgrey;

    @include futuraBook(20px);

    line-height: 1.5;
    text-align: left;
    transition: 0.4s;
    padding: 16px 26px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;

    .Icon {
      color: $darkgrey;
      width: 15px;
      height: 10px;
    }

    &.Active {
      .Icon {
        transform: rotate(180deg);
      }
    }
  }

  &__accordion {
    background-color: $grey-light;

    &:nth-child(odd) {
      background-color: #f7f7f7;
    }
  }

  /* Style the accordion panel. Note: hidden by default */
  &__content {
    padding: 0 26px;
    display: none;
    overflow: hidden;
  }

  &__file {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start;

    @include breakpoint($md) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-bottom: 11px;
    }

    p {
      color: $darkgrey;

      @include futuraHeavy(20px);

      font-weight: 900;
      line-height: 2.5;
    }

    a {
      @include futuraBook(17px);

      color: $darkgrey;
      opacity: 0.5;
      border-radius: 2px;
      border: solid 1px #cdcdcd;
      padding: 7px 17px;
    }
  }
}
