.MyKennel--mydogs {
  .MyDogsAdd {
    width: 100%;
    max-width: 350px;

    @include breakpoint($sm) {
      text-align: right;
    }

    .FindAGreyhound {
      .GreyhoundInput {
        color: $darkgrey;
        background: $white;

        &--hasText,
        &--hasFocus {
          color: $white;
          background: transparentize($black, $amount: 0.5);

          .GreyhoundInput__placeholder {
            color: $white;
            background: $black;
            border-radius: 6px;
            display: flex;
            align-items: center;
            padding: 8px 7px;
          }

          .GreyhoundInput__suggestion {
            color: $darkgrey;

            &--active {
              color: $white;
            }
          }
        }
      }
    }
  }

  .MyDogs {
    color: $darkgrey;

    &__name {
      margin-bottom: 30px;

      @include futuraMedium(25px);
    }

    &__row {
      .Item {
        color: $darkgrey;
        transition: all 0.5s ease-in-out;
        background: #f0f0f0;

        &:nth-child(odd) {
          background: #f7f7f7;
        }

        @include futuraBook();

        &--isExtended {
          .Item {
            &__bar {
              &__button {
                .Icon {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }

        &__bar {
          cursor: pointer;
          padding: 20px 25px;
          position: relative;

          @include breakpoint($phablet) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
          }

          &__title {
            width: 100%;
            font-size: 20px;

            @include breakpoint($phablet) {
              width: 66%;
            }

            .Spinner {
              text-align: left;
              padding: 0;
            }
          }

          &__formLink {
            color: $brand-color;
            font-size: 20px;
            font-weight: $weight-semibold;
            flex-grow: 1;
          }

          &__button {
            width: auto;
            position: absolute;
            right: 25px;
            top: calc(50% - 7px);

            @include breakpoint($phablet) {
              position: relative;
              top: inherit;
              right: inherit;
            }

            .Icon {
              opacity: 0.5;
              color: $darkgrey;
              width: 13px;
              height: 13px;
              transform: rotate(0deg);
              transition: all 0.2s ease-in-out;
              display: block;
            }
          }

          &__fixtures {
            width: 90%;
            margin-top: 20px;
            border-radius: 6px;
            background: #e0e0e0;
            padding: 7px 20px;
          }
        }

        &__inner {
          max-width: 85%;
          display: none;
          flex-flow: column wrap;
          line-height: 1.5;
          margin-left: 25px;
          margin-top: 25px;
          padding-bottom: 60px;

          &__details {
            width: 100%;
            margin-bottom: 45px;
          }

          &__notifications {
            display: flex;
            align-items: center;
            margin-bottom: 45px;

            &__text {
              width: calc(100% - 85px);
              font-size: 18px;
              line-height: 1.2;

              @include breakpoint($phablet) {
                width: calc(100% - 90px);
                font-size: 20px;
              }
            }
          }

          &__notes {
            margin-bottom: 30px;

            &__text {
              margin-bottom: 12px;
            }

            textarea {
              resize: none;
              outline: none;
              width: 100%;
              max-width: 418px;
              height: 150px;
              border: 1px solid $grey-medium;
              border-radius: 5px;
              background: $white;
              margin: 0;
              padding: 15px;
              display: block;

              @include breakpoint($phablet) {
                height: 190px;
              }
            }

            &--savingState {
              textarea {
                opacity: 0.5;
                pointer-events: none;
              }
            }
          }

          &__actions {
            .MyKennelButton {
              width: auto;
              min-width: 130px;
              font-weight: $weight-light;
              display: block;

              &:not(:last-child) {
                margin-bottom: 30px;
              }

              &__remove {
                padding: 12px 20px 10px;

                .Icon {
                  top: -2px;
                  width: 17px;
                  height: 17px;
                  margin-right: 6px;
                  position: relative;
                }

                .Meta {
                  vertical-align: middle;
                  display: inline-block;
                }
              }

              &--savingState {
                opacity: 0.5;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }

  .Switch {
    cursor: pointer;
    width: 70px;
    height: 40px;
    border-radius: 19px;
    background: $borderGray;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
    display: inline-block;
    position: relative;

    @include breakpoint($phablet) {
      margin-right: 20px;
    }

    &:after {
      content: "";
      background: $brand-color;
      display: block;
      position: absolute;
      left: 0;
      transform: translateX(5px);
      top: 5px;
      width: 30px;
      height: 30px;
      border-radius: 99px;
      transition: all 0.3s ease-in-out;
    }

    &--active {
      background: $brand-color;

      &:after {
        background: $white;
        transform: translateX(35px);
      }
    }

    &--savingState {
      pointer-events: none;
      opacity: 0.6;
    }
  }
}

.DogFixture {
  display: flex;
  flex-flow: row wrap;

  * {
    margin-right: 20px;

    @include breakpoint($lg) {
      margin-right: 10px;
    }
  }

  &__label {
    text-transform: uppercase;

    @include breakpoint($lg) {
      width: 30%;
    }

    font-weight: 500;
  }

  &__time {
    @include breakpoint($lg) {
      width: 15%;
    }
  }

  &__track {
    @include breakpoint($lg) {
      width: 30%;
    }
  }
}
