// COLORS
$brand-color: #123688;
$black: #000;
$white: #fff;
$dark: #1b1b1b;
$darkgrey: #262626;
$red: #ef3023;
$green-light: rgba(#23a30a, 0.1);
$green: #267a15;
$orange-light: rgba(#f57a01, 0.1);
$orange: #7e4a17;
$blue-light: rgba(#225ce0, 0.1);
$blue: #1b3878;
$pink-light: rgba(#ce14a0, 0.1);
$pink: #7d1964;
$grey-light: #f1f1f1;
$grey-medium: #cacaca;
$grey-medium2: #e6e6e6;
$grey: #595959;
$mobileBg: #000c28;
$borderGray: #dadada;
$resultsRowBg: #f3f2f2;
$darkBlue: #1c2435;
$commitmentBorder: #4e4e4e;
$commitmentOverlay: #174575;
$instagram-color: #1d1d1d;
$twitter-color: #1ebffb;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// HELPER URL
$asset-path: "../images/";

$max-width: 1182px;
$masonryGutter: 15px;

$resultsTableBreakpoint: 1145px;
