.GreyhoundFilters {
  color: $darkgrey;

  @include futuraBook(17px);

  &__simplified {
    width: calc(100% - 40px);
    color: $grey;
    letter-spacing: 0;
    text-transform: none;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    margin: 0 auto 15px;
    padding: 12px 20px 13px;
    display: flex;

    @include futuraBook(17px);

    @include breakpoint($lg) {
      display: none;
    }

    .Icon {
      top: 3px;
      color: $grey;
      width: 12px;
      height: 12px;
      margin-right: 12px;
      position: relative;
    }
  }

  &__wrapper {
    @include breakpointMaxWidth($lg) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      overflow-y: auto;

      &--showPopup {
        display: flex;
        z-index: 9999;
        background:
          url(#{$asset-path}search-bg.png) no-repeat bottom right/ 75%,
          $white;
        background-origin: content-box;
      }
    }
  }

  &__complex {
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    font-size: 17px;
    color: $grey;
    display: none;
    display: flex;

    @include breakpointMaxWidth($lg) {
      position: absolute;
      width: 100%;
      flex-direction: column;
      padding: 25px 20px 0;
      align-items: flex-start;
      border-top: 1px solid $black;
    }
  }

  &__date input,
  .AnimatedInput,
  .GreyhoundInput,
  .AnimatedSelect {
    border: 1px solid $borderGray;
    box-shadow: none;
    border-radius: 6px;
    height: 44px;
    margin-right: 20px;
    padding: 0 20px;
    color: $darkgrey;

    @include futuraBook(17px);
  }

  .AnimatedSelect,
  .AnimatedInput,
  .GreyhoundInput {
    &--hasText,
    &--hasFocus {
      border-color: $brand-color;
    }
  }

  &__dateLabel {
    display: none;
    width: 90px;
    margin-right: 15px;

    @include breakpoint($lg) {
      display: inline-block;
    }
  }

  &__date {
    max-width: 250px;
    margin-right: 20px;

    input[name^="date"] {
      font-size: 17px;
      text-align: center;
      padding: 6px 38px 6px 0;
    }

    input[name^="date"][value=""],
    input[name^="date"]:not([value]) {
      text-align: left;
      padding-left: 20px;
    }

    .mx-input-append {
      width: 40px;
      border-left: 1px solid $borderGray;
      padding: 12px;

      text {
        display: none;
      }
    }

    .mx-calendar-content {
      .cell {
        &.actived {
          background: $brand-color;
        }
      }
    }

    &--hasText {
      .mx-input-wrapper {
        position: relative;

        &::after {
          content: "Date";
          top: -9px;
          left: 16px;
          color: $brand-color;

          @include futuraBook(12px);

          height: 12px;
          background: $white;
          margin-left: -7px;
          padding: 0 7px;
          position: absolute;
        }

        .mx-input {
          border-color: $brand-color;
        }
      }
    }
  }

  &__class {
    width: 100px;
  }

  &__distance {
    width: 110px;
  }

  &__trials {
    width: 125px;
    margin-right: 50px;

    @include breakpointMaxWidth($lg) {
      margin-bottom: 20px;
    }

    &__text {
      margin-right: 5px;
      vertical-align: middle;
      display: inline-block;
    }

    &__checkbox {
      cursor: pointer;
      width: 30px;
      height: 30px;
      color: $white;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      border: solid 1px $borderGray;
      border-radius: 6px;
      background-color: $white;
      vertical-align: middle;
      display: inline-block;
    }

    &--selected {
      .GreyhoundFilters__trials__checkbox {
        color: $black;
      }
    }
  }

  &__buttonClear {
    width: auto;
    font-size: 15px;
    padding: 14px 14px 13px;
  }

  &__button {
    width: auto;
    font-size: 15px;
    margin-left: 20px;
    padding: 14px 14px 13px;
  }

  &__actions {
    display: flex;

    @include breakpointMaxWidth($lg) {
      width: 100%;
      justify-content: center;
      margin-bottom: 55px;
    }
  }

  @include breakpointMaxWidth($lg) {
    &__date,
    .AnimatedInput,
    .GreyhoundInput,
    .AnimatedSelect {
      margin-bottom: 30px;
      margin-left: 0;
    }

    .AnimatedInput,
    .GreyhoundInput,
    .AnimatedSelect {
      width: 100%;
    }

    .mx-range-wrapper {
      width: auto;
    }

    .mx-calendar {
      clear: both;
    }
  }
}

.GreyhoundFiltersMobileHeader {
  display: none;

  @include breakpointMaxWidth($lg) {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    margin-bottom: 20px;
    align-items: flex-end;
  }

  &__title {
    flex-grow: 1;
    color: $darkgrey;

    @include futuraMedium(25px);
  }

  &__close {
    width: 40px;
    height: 40px;
    border: 1px solid $black;
    border-radius: 50%;
    margin-bottom: 15px;

    .Icon {
      width: 15px;
      height: 15px;
    }
  }
}
